.App {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding-top: 50px;
}

.accordion {
  box-shadow: 0 0 2px 3px #000000;
  border: 5px #000000;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding-bottom: 2px;
}

.active {
  background-color: rgba(0, 0, 255, 0.6);
  color: #ffffff;
}

.inactive {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.accordion-text {
  text-decoration: underline;
  border: 5px #000000;
  border-radius: 10px;
}